.search-container {
  margin: 1rem;
  position: relative;
}

.search-input {
  width: 79%;
  padding: 18px 10%;
  border: 2px solid #e2e8f0;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
}

.search-input:focus {
  outline: none;
  border-color: #00c0fa;
}

.search-results {
  position: absolute;
  top: 100%;
  background: white;
  padding: 8px 16px;
  border: 1px solid #e2e8f0;
  border-top: none;
  border-radius: 0 0 8px 8px;
  font-size: 14px;
  color: #666;
}

.no-meals {
  text-align: center;
  padding: 2rem;
  color: #d11313;
  font-size: 18px;
}